.formulario {

    width: 220px;
    height: 52px;
    border-radius: 8px;
    border-color: #ada9a9;
    border: 1px solid #BDBDBD
}

.teste{
    grid-area: formulario;
    margin: auto;
    margin-top: 59px;
}