.logo {
    width: 213.24px;
    height: 50px;
    margin-left: 155px;
    display: flex;
    align-self: center;
}

.logout {
    display: flex;
    align-self: center;
}

.cabecalho{
    grid-area: cabecalho;
    width: 100%;
    background-color: white;
    display: flex;
    height: 70px;
    border-bottom: solid #EEEEEE;
}

.imagens{
    width: 80%;
    display: flex;
    justify-content: space-between;
}